body {
    height: 1000vh;
}

.header-container {
    min-height: 150vh; /* make this 150vh when solving homework */
    background-color: antiquewhite;
}

.header {
    padding: 8px 0;
    background-color: darkblue;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky; 
    top: 0; 
    
    
}


.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: darkblue;
    color: whitesmoke;
    padding: 0 16px;
    cursor: pointer;
}
.header-button:hover {
    background-color: blue;
}

.bottom-nav {
    background-color: whitesmoke;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky; 
    bottom: 0;

}

.bottom-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    padding: 0 16px;
}

@media screen and (min-width: 981px) {
    .header-container {
        min-height: 150vh;
    }
    .header {
        display: flex; /* Display header on larger screens */
    }
    .bottom-nav {
        display: none; /* Hide bottom navigation on larger screens */
    }
}

/* Media query for screens up to 980px */
@media screen and (max-width: 980px) {
    .header-container {
        min-height: 150vh; /* Reset height for smaller screens */
    }
    .header {
        display: none; /* Hide header on smaller screens */
    }
    .bottom-nav {
        display: flex; /* Display bottom navigation on smaller screens */
    }
}